<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lqstudy.test.dao.UserDao">
    <!-- 根据主键查询-->
    <select id="getById" resultType="com.lqstudy.test.entity.UserEntity" parameterType="java.lang.Integer" >
        select  *
        from test
        where id = #{id}
    </select>
    <select id="getByFirstName" resultType="com.lqstudy.test.entity.UserEntity" parameterType="java.lang.String" >
        select  *
        from test
        where first_name = #{name}
    </select>
</mapper>